<div class="mainContent">
	
	<div class="leftContent">
	</div>

	<div class="middleContent">
		<mat-list role="list">
			<mat-list-item role="listitem">Item 1</mat-list-item>
			<mat-list-item role="listitem">Item 2</mat-list-item>
			<mat-list-item role="listitem">Item 3</mat-list-item>
		</mat-list>

		<!-- two line list -->
<mat-list>
  <mat-list-item>
    <h3 matLine><img src=""> Name </h3>
    <p matLine>
      <span> para1 </span>
      <span class="demo-2">para 2 </span>
    </p>
  </mat-list-item>
</mat-list>



	</div>

	<div class="rightContent">
	</div>

</div>